<!DOCTYPE html>
<html lang="fr">
  <!DOCTYPE html>
  <html lang="fr">
  
  <body>
    <aside class="sidebar">
      <ul class="menu">
        <li><a [routerLink]="['/admin/utilisateur']">Utilisateurs</a></li>
        <li><a [routerLink]="['/adminconc']">Concessionnaire</a></li>
        <li><a [routerLink]="['/consulteradmin']">Admin</a></li>
        <li><a [routerLink]="['/gerermarque']">Gerer marque</a></li>
        <li><a [routerLink]="['/gererproduit']">Gerer produit</a></li>
        <li><a [routerLink]="['/consulterrole']">Consulter Role</a></li>
        <li><a [routerLink]="['/validermarque']">Valider Marque</a></li>
        <li><a [routerLink]="['/validerdemande']">Valider Demande</a></li>
        <li><a [routerLink]="['/consulterdemande']">Consulter Demande</a></li>

        <li><a href="" (click)="onLogout()">Deconnexion</a></li>
      </ul>
    </aside>
  
  <section class="marque-section">
    <button class="add-button" [routerLink]="['/ajoutermarque']">
      <i class="fas fa-plus"></i> Ajouter Marque
    </button>
    
    <table class="marque-table">
      <thead>
        <tr>
          <th class="nom">Nom</th>
          <th class="logo">Logo</th>
          <th class="actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let marque of marques">
          <td class="nom">{{ marque.nommarque }}</td>
          <td class="logo"><img [src]="marque.logomarque" alt="{{ marque.nommarque }} logo"></td>
          <td class="actions">
            <div class="buttons-container">
              <button class="action-button modify-button" [routerLink]="['/modifiermarque',marque.idmarque]">
                <i class="fas fa-edit"></i> Modifier
              </button>
              
              <button class="action-button delete-button" (click)="deleteMarque(marque.idmarque)">
                <i class="fas fa-trash-alt"></i> Supprimer
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  
  </section>
  
  </body>
  
  </html>
  
<body>


<!-- Sidebar -->


