<aside class="sidebar">
  <ul class="menu">
    <li><a [routerLink]="['/admin/utilisateur']">Utilisateurs</a></li>
    <li><a [routerLink]="['/adminconc']">Concessionnaire</a></li>
    <li><a [routerLink]="['/consulteradmin']">Admin</a></li>
    <li><a [routerLink]="['/gerermarque']">Gerer marque</a></li>
    <li><a [routerLink]="['/gererproduit']">Gerer produit</a></li>
    <li><a [routerLink]="['/consulterrole']">Consulter Role</a></li>
    <li><a [routerLink]="['/validermarque']">Valider Marque</a></li>
    <li><a [routerLink]="['/validerdemande']">Valider Demande</a></li>
    <li><a [routerLink]="['/consulterdemande']">Consulter Demande</a></li>


    <li><a href="" (click)="onLogout()">Deconnexion</a></li>
  </ul>
</aside>

<div class="table-container"> <!-- Ajoutez la classe table-container ici -->
  <h2 class="user-list-title"><i class="fas fa-list-ul"></i> Liste des administrateurs</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Adresse</th>
        <th>Ville</th>
        <th>Code Postal</th>
        <th>Date de Naissance</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let utilisateur of listAdmin">
        <td>{{ utilisateur.idutilisateur }}</td>
        <td>{{ utilisateur.nom }}</td>
        <td>{{ utilisateur.prenom }}</td>
        <td>{{ utilisateur.email }}</td>
        <td>{{ utilisateur.telephone }}</td>
        <td>{{ utilisateur.adresse }}</td>
        <td>{{ utilisateur.ville }}</td>
        <td>{{ utilisateur.codepostal }}</td>
        <td>{{ utilisateur.datenaissance }}</td>
        <td class="actions">
          <div class="buttons-container">
            <button class="action-button modify-button" [routerLink]="['/modifierutilisateur',utilisateur.idutilisateur]"><i class="fas fa-edit"></i> Modifier</button>
            <button class="action-button delete-button" (click)="deleteUser(utilisateur.idutilisateur)"><i class="fas fa-trash-alt"></i> Supprimer</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</div>
