<header>
  <div class="logo-container">
    <a href="marketplace">
      <img src="../../../assets/img/brand/logoo.jpg" alt="Logo de votre entreprise" style="width: 150px;">
  </a>
    </div>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Titre</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .social-icons {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .social-icons li {
            display: inline-block;
            margin-right: 10px;
        }
        .social-icons li:last-child {
            margin-right: 0;
        }
        .social-icons li a {
            color: #333;
            font-size: 20px;
        }
        /* Style pour le bouton du champ e-mail */
        .btn-email {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
        }
        .btn-email:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
    </style>
</head>
  <nav> 

    <ul>
      <li><a [routerLink]="['/marketplace']">Marketplace</a></li>

      <li><a [routerLink]="['/consultermarque']">Neuf</a></li>
      <li><a [routerLink]="['/consulterproduit']">Produit</a></li>
      <li><a [routerLink]="['/demandedevis']">Nous contacter</a></li>
 
    </ul>
  </nav>
  <div class="auth-buttons">
    <button  routerLink="/login">Connexion</button>
    <button  routerLink="/register">inscription</button>
  </div>
</header>
<div class="d-flex flex-column align-items-center text-center">
  <h3 class="product-name" *ngIf="produit">{{ produit.nomproduit }}</h3>
  <p *ngIf="produit && produit.modele">{{ produit.modele }}</p> <!-- Vérification de nullité pour 'modele' -->
  <img *ngIf="produit && produit.image" [src]="produit.image" alt="Image du produit" style="width: 100%; max-width: 550px;">
</div>

<div class="action-container">
  <div class="action-item">
    <a *ngIf="produit" [routerLink]="['/ajouterdemande']" [queryParams]="{ produit: produit.nomproduit }">
      <i class="fas fa-hand-holding-usd"></i> <!-- Icône pour la demande de financement -->
      Demande de financement
    </a>
  </div>
  <div class="action-item">
    <a *ngIf="produit" [routerLink]="['/simulateur']" [queryParams]="{ produit: produit.idproduit }">
      <i class="fas fa-calculator"></i> <!-- Icône pour le simulateur -->
      Simulateur
    </a>
  </div>
  <div class="action-item">
    <a *ngIf="produit" [routerLink]="['/demandedevis']" [queryParams]="{ produit: produit.nomproduit }">
      <i class="fas fa-file-alt"></i> <!-- Icône pour la demande de devis -->
      Demander un devis
    </a>
  </div>
</div>
<br><br>
<div class="galerie-container">
  <h2>GALERIE</h2>
  <p>LES ATOUTS EN PHOTO</p>
  <div class="galerie">
    <img src="https://galerie.automobile.tn/min/2019/09/toyota-rav-4-2.0-l-active-43570.webp" alt="Photo 1">
    <img src="https://galerie.automobile.tn/min/2019/09/toyota-rav-4-2.0-l-active-43568.webp" alt="Photo 2">
    <img src="https://galerie.automobile.tn/min/2023/05/audi-a1-sportback-30-tfsi-city-line-bva-75442.webp" alt="Photo 3">
    <img src="https://galerie.automobile.tn/min/2023/05/audi-a1-sportback-30-tfsi-city-line-bva-75457.webp" alt="Photo 4">
    <img src="https://galerie.automobile.tn/min/2023/05/audi-a1-sportback-30-tfsi-city-line-bva-75446.webp" alt="Photo 5">
    <img src="https://galerie.automobile.tn/min/2023/05/audi-a1-sportback-30-tfsi-city-line-bva-75459.webp" alt="Photo 6">
    <img src="https://galerie.automobile.tn/min/2023/05/audi-a1-sportback-30-tfsi-city-line-bva-75462.webp" alt="Photo 7">
    <img src="https://galerie.automobile.tn/min/2023/05/audi-a1-sportback-30-tfsi-city-line-bva-75439.webp" alt="Photo 8">
    <img src="https://galerie.automobile.tn/min/2023/05/audi-a1-sportback-30-tfsi-s-line-bva-75507.webp" alt="Photo 8">
    <img src="https://galerie.automobile.tn/max/2023/05/audi-a1-sportback-30-tfsi-city-line-bva-75462.webp" alt="Photo 8">

  </div>
</div>



<div class="galerie-container">
  <h2>FICHE TECHNIQUE</h2>
  <p *ngIf="produit && produit.modele">{{ produit.modele }}</p> <!-- Vérification de nullité pour 'modele' -->
  <div class="container" *ngIf="produit">
  <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img *ngIf="produit.image" [src]="produit.image" alt="Image du produit" width="190">
                  <div class="mt-3">
                    <h4>{{produit.nomproduit}}</h4>
                    <p class="text-secondary mb-1">a partir de {{produit.prixproduit}} DT</p>
                    <p class="text-muted font-size-sm">{{produit.modele}}</p>
                    <button class="btnpanier"><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
                    </svg>
                    Ajouter au panier</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Disponibilite</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{produit.disponibilite}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Carrosserie</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{produit.carrosserie}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Garantie</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{produit.garantie}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Nombre de Portes</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{produit.nbportes}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Nombre de places</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{produit.nbplaces}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Kilometrage</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{produit.kilometrage}}
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
  

  
  
  <!-- Ajout d'une séparation avec une marge -->
  <div style="margin-top: 20px;"></div>
  
  <footer>
    <div class="footer-menu">
        <h3>Menu</h3>
        <ul>
          <li><a [routerLink]="['/consultermarque']">Consulter Marque</a></li>
          <li><a [routerLink]="['/consulterproduit']">Consulter Produit</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">À propos</a></li>
        </ul>
    </div>
    <div class="footer-contact">
        <h3>Contact</h3>
        <ul>
            <li><a href="#">Nous contacter</a></li>
            <li><a href="#">Support technique</a></li>
            <li><a href="#">Service client</a></li>
        </ul>
    </div>
    <div class="footer-help-support">
        <h3>Help & Support</h3>
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
        </ul>
    </div>
    <div class="footer-payment">
        <h3>Payment</h3>
        <ul>
            <li><a href="#">Modes de paiement</a></li>
            <li><a href="#">Politique de remboursement</a></li>
        </ul>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</footer>
