.custom-image {
    width: 100%; /* Utilise toute la largeur de la colonne parent */
    height: auto; /* Ajuste automatiquement la hauteur en fonction de la largeur */
    max-width: none; /* Permet à l'image de dépasser sa largeur d'origine */
}

.header-video {
    width: auto; /* Pour utiliser la largeur d'origine de la vidéo */
    max-width: 80%; /* Pour s'assurer que la vidéo ne dépasse pas la largeur du conteneur */
    height: auto; /* Pour conserver le rapport hauteur-largeur d'origine de la vidéo */
    display: block; /* Pour que les marges automatiques fonctionnent correctement */
    margin: 0 auto; /* Pour centrer la vidéo horizontalement */
margin-bottom: 1cm;    padding: 0 20px; /* Ajoute un espace de 20px à gauche et à droite de la vidéo */
}

.header {
    position: relative; /* Position relative pour les éléments enfants positionnés absolument */
    width: 100%; /* Assure que la largeur est de 100% de la page */
    overflow: hidden; /* Empêche le débordement des éléments positionnés absolument */
}

.navbar {
    position: absolute; /* Position absolue pour placer la barre de navigation au-dessus de la vidéo */
    top: 0; /* Positionne la barre de navigation en haut de l'en-tête */
    width: 100%; /* Étire la barre de navigation sur toute la largeur de l'en-tête */
    z-index: 1; /* Assure que la barre de navigation est au-dessus de la vidéo */
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #2f2e2d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:Login span {
    padding-right: 25px;
  }
  
  .button:Login span:after {
    opacity: 1;
    right: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000; /* Couleur de fond du header */
  }
  
  .logo-container img {
    width: 100px; /* Ajustez la taille de votre logo */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px; /* Espacement entre chaque élément de la barre de navigation */
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Supprimez l'espacement à droite du dernier élément */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  } button {
    padding: 20px 50px;
    font-size:1.2rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
  }
  button:hover::after {
    transform: rotate(150deg);
  }
  
  button:hover {
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0px rgba(143,64, 248, .25), -10px 10px 25px 0px rgba(39, 200,255, .25);
  }