/* Style pour la section utilisateur */
.user-list {
  margin-left: 220px; /* Ajout de la marge pour tenir compte de la largeur de la barre latérale */
}

/* Style pour la table des utilisateurs */
.user-list table {
  width: 100%;
  border-collapse: collapse;
}

/* Style pour chaque cellule du tableau */
.user-list td {
  padding: 1px; /* Réduire le padding */
  font-size: 0.7rem; /* Réduire légèrement la taille de la police */
}

/* Style pour chaque en-tête de colonne du tableau */
.user-list th {
  padding: 1px; /* Conserver le padding pour les en-têtes */
  font-size: 1rem; /* Conserver la taille de la police pour les en-têtes */
}

/* Style pour le titre de la liste des utilisateurs */
.user-list-title {
  text-align: left; /* Alignement du texte à gauche */
  margin-bottom: 10px; /* Pour ajouter un espace en bas du titre */
  font-size: 1.2rem; /* Réduire légèrement la taille de la police */
}

/* Style pour le titre de la liste des utilisateurs */
.user-list-title i {
  margin-right: 10px; /* Pour ajouter un espace entre l'icône et le texte */
  font-size: 1.2rem; /* Réduire légèrement la taille de la police */
  color: rgb(75, 125, 250); /* Couleur bleue */
}


.user-list th {
  background-color: #f2f2f2;
}

/* Style spécifique pour la colonne des actions */
.user-list td.actions {
  width: 200px; /* Largeur de la colonne Actions */
}

/* Style pour les boutons */
.buttons-container button {
  padding: 10px 20px; /* Remplissage des boutons */
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* Style pour la barre latérale */
.sidebar {
  background-color: #e9e7e7;
  padding: 10px;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; /* Ajout de défilement vertical si le contenu dépasse la hauteur de la barre latérale */
}

/* Style pour la liste de menu dans la barre latérale */
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 8px 0;
}

/* Style pour les boutons dans la barre latérale */
.menu li a {
  text-decoration: none;
  color: #333333;
  display: block;
  border-radius: 5px; /* Arrondir les coins des boutons */
  padding: 8px 12px; /* Ajuster le padding des boutons */
}

/* Au survol des boutons dans la barre latérale */
.menu li a:hover {
  background-color: #9cc6f3; /* Couleur de fond bleue */
  color: white; /* Couleur du texte en blanc */
}

/* Style pour les boutons d'action */
.buttons-container {
  display: flex; /* Aligner les boutons sur la même ligne */
}

.buttons-container button {
  padding: 2px 2px;
  margin-right: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style pour les boutons au survol */
.buttons-container button:hover {
  opacity: 0.8;
}




/* Style spécifique pour le bouton "Activer" */
.activate-button {
  background-color: #6892f3; /* Couleur de fond rouge */
  color: white; /* Couleur du texte blanche */
}

/* Style spécifique pour le bouton "Désactiver" */
.deactivate-button {
  background-color: #6892f3; /* Couleur de fond rouge */
  color: white; /* Couleur du texte blanche */
}

/* Style pour les icônes à l'intérieur des boutons */
.buttons-container .fas {
  margin-right: 3px; /* Ajouter un espacement entre l'icône et le texte */
}

/* Style pour le bouton "Ajouter utilisateur" */
.add-user-button {
  background-color: #6892f3;; /* Couleur de fond bleue */
  color: white; /* Couleur du texte blanche */
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right; /* Pour aligner le bouton à droite */
  margin-bottom: 10px; /* Pour ajouter un espace en bas du bouton */
}
