/* CSS */
.form-control {
  border-radius: 1rem;
}

.btn-primary {
  background-color:#6892f3;
  border-color: #9cc9f9;
}

.btn-primary:hover {
  background-color: #8abdf4;
  border-color: #88bdf6;
}

.card {
  border-radius: 1.5rem;
}

.card-body {
  border-radius: 1.5rem;
}
