<aside class="sidebar">
  <ul class="menu">
    <li><a [routerLink]="['/admin/utilisateur']">Utilisateurs</a></li>
    <li><a [routerLink]="['/adminconc']">Concessionnaire</a></li>
    <li><a [routerLink]="['/consulteradmin']">Admin</a></li>
    <li><a [routerLink]="['/gerermarque']">Gerer marque</a></li>
    <li><a [routerLink]="['/gererproduit']">Gerer produit</a></li>
    <li><a [routerLink]="['/consulterrole']">Consulter Role</a></li>
    <li><a [routerLink]="['/validermarque']">Valider Marque</a></li>
    <li><a [routerLink]="['/validerdemande']">Valider Demande</a></li>
    <li><a [routerLink]="['/consulterdemande']">Consulter Demande</a></li>

    <li><a href="" (click)="onLogout()">Deconnexion</a></li>
  </ul>
</aside>
  
  
<div class="container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Apportpropre</th>
        <th>Loyer</th>
        <th>Marque</th>
        <th>Produit</th>

        <th>Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let demande of demandes">
        <td>{{ demande.iddemande }}</td>
        <td>{{ demande.apportpropre }}</td>
        <td>{{ demande.loyer }}</td>
        <td>{{ demande.marque }}</td>

        <td>{{ demande.produit }}</td>

        <td>{{ demande.date | date }}</td>
        <td>{{ demande.idetatdemande.labeletat }}</td> <!-- Afficher l'état de la demande ici -->
        <td>
          <div class="buttons-container">
            <button class="action-button" (click)="onValider(demande.iddemande)">
              <i class="fas fa-check"></i> Valider
            </button>
            <button class="action-button" (click)="onRefuser(demande.iddemande)">
              <i class="fas fa-times"></i> Refuser
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</div>